$color1:#f2f2f2;
$color2:#393939;
$color3:grey;
$color4:#fbfbfb;
$color5:#ff4700;
$color6:#66b32d;

body{
    background-color: $color1;
    font-family:Arial;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.navbar {
    max-width: 1140px;
    margin: 0 auto;
}

.nav-item {
    margin-left: 50px;
}

.nav-item a {
    color: black;
}

.search-btn {
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.title{
    color:$color2;
}

a{
    border: none;
    outline: none;
}

a:hover{
    color:black;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
textarea:focus, input:focus{
    outline: none;
}




.box1,
.box2 {
    background: $color3;
    height: 360px;
}

.box11 {
    padding-right: 6px;
}

.box22 {
    padding-left: 6px;
}

.row1 {
    margin-bottom: 50px;
}

.row2 {
    margin-bottom: 50px;
}

.row4 {
    margin-bottom: 50px;
}

.box3 {
    background: $color3;
    height: 200px;
}

.new-products {
    margin-top: 20px;
}

.box66 {
    padding: 20px;
}

.footer-btns {
    text-align: right;
}

.col3 {
    text-align: center;
}

.row5 {
    padding-bottom: 40px;
}

.add-center {
    justify-content: space-around;
    margin-top: 20px;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
h2{
    margin:20px;
}

h5{
    padding-top:20px;
}

.product-wrapper {
    margin-bottom: 20px;
}

.pagination {
    margin-top: 20px;
}

.nav-link2{
    font-size:16px;
    color:black;
    display:inline;
    margin:10px;
}

.nav-link2 input{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.new-products{
    padding-left:15px;
}
.desc-height{
    height:140px;
}

.col-md-4{
    margin-bottom:30px;
}

.form-row{
    padding-bottom:10px;
}

.img-fluid{
    object-fit: scale-down;
    height:210px;
}

.product-desc{
    margin-top:15px;
}

.product-title{
    margin-bottom:15px;
}

#product-desc-textarea, #comment-textarea{
    height:200px;
}

.logout{
    border: none;
    background-color: transparent;
    outline: none;
    display:block;
}

.add-to-cart{
    background-color:#66b32d;
    color:white;
    font-weight: bold;
}
.add-to-cart:hover{
    color:white;
    background-color:#559625;
}

.products-container{
    border:1px solid #cdcdcd;
    padding:20px;
    background-color:$color4;
    border-radius:4px;
}

.cart-container{
    display:flex;
}


.cart-nr-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:25px;
    height:25px;
    line-height:25px;
    background-color: $color5;
    border-radius:50%;
    color:white;
    font-size: 16px;
    font-weight: bold;
    margin-left:5px;
}

.cart-nr{
    font-family: Arial;
}

.price-background{
    background:$color6;
    padding:4px;
    border-radius:10%;
    color:white;
    font-weight: bold;
}
.cart-list-container{
    margin: 0 auto;
    margin-top:20px;
    padding:0px;
}
.list-group{
    width:100%;
}

.form-group{
    width:100%;
}

.create-btn{
    margin:10px 0px 10px;
}

.btn-primary{
    margin-bottom:10px;
}

.comments{
    margin-top:20px;
}

.show-image{
   max-width: 100%;
}

.show-container{
    max-width: 500px;
}

.dashboard form{
    margin:0px;
}





